
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.2.6"
djangorestframework = ">=3.14.0"
django-environ = ">=0.11.2"
psycopg2-binary = ">=2.9.9"
boto3 = ">=1.34.47"
django-storages = ">=1.14.2"
djangorestframework-simplejwt = ">=5.3.1"
cryptography = ">=42.0.3"
requests = ">=2.31.0"
PyJWT = ">=2.8.0"
django-cors-headers = ">=4.3.1"
zappa = ">=0.58.0"
pandas = ">=2.0.3"
gunicorn = "*"
drf-jwt = ">=1.19.2"
django-cognito-jwt = ">=0.0.4"
channels = ">=4.1.0"
daphne = ">=4.1.0"

[dev-packages]
flake8 = ">=6.1.0"
isort = ">=5.12.0"
black = ">=23.11.0"


[requires]
python_version = "3.10"

[scripts]
test = "python manage.py test"
start = "python manage.py runserver localhost:8000"
migrate = "python manage.py migrate"
