[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.2.6"
djangorestframework = ">=3.14.0"
django-environ = ">=0.11.2"
psycopg2 = ">=2.9.9"
boto3 = ">=1.29.6"
django-storages = ">=1.14.2"
djangorestframework-simplejwt = ">=5.3.1"
cryptography = ">=42.0.2"
requests = ">=2.31.0"
pyjwt = ">=2.8.0"
django-cors-headers = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
flake8 = ">=6.1.0"
isort = ">=5.12.0"
black = ">=23.10.0"

[requires]
python_version = "3.10"

[scripts]
test = "python manage.py test"
start = "python manage.py runserver localhost:8000"
migrate = "python manage.py migrate"
