[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.2.6"
djangorestframework = ">=3.14.0"
django-environ = ">=0.11.2"
psycopg2 = ">=2.9.9"

[dev-packages]

[requires]
python_version = "3.10"
